/* ========== For navbar ========== */

.navbar {
    padding: 0%;
}

.trapezoid {
	border-top: 50px solid #FF4917;
	border-bottom: 0px solid #FF4917;
	border-left: 0px solid transparent;
	border-right: 35px solid transparent;
	height: 0;
	width: 200px;
}

.text-color {
    color: #FF4917 !important;
    font-weight: 800;
    text-transform: uppercase;
}

.consulting-button {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    position: relative;
    width: 175px;
    color: white;
    background-color: #162029;
    border-radius: 34px;
    z-index: 0;
}

.consulting-button:hover {
    color: white;
}

.inner-box {
    position: absolute;
    top: 0;
    height: 100%;
    width: 75px;
    background-color: #FF4917;
    border-radius: 34px;
    z-index: 1;
}

.consulting-button p {
    margin-block-start: 0em;
    margin-block-end: 0em;
    z-index: 2;
    margin-right: 15px;
}

.blank-space {
    width: 200px;
}

/* ================================ */
/* ========== For banner ========== */

.banner {
    position: relative;
}

.h-450 {
    height: 450px;
}

.carousel-caption {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.my-caption {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    right: 0%;
    bottom: 0%;
    left: 0%;
    z-index: 10;
    padding-top: 500px;
    padding-bottom: 500px;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.banner-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.my-caption p {
    text-transform: uppercase;
}

.triangle-topleft {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-top: 250px solid #FF4917;
    border-right: 165px solid transparent;
    z-index: 4;
}

.triangle-middleleft {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-top: 300px solid rgba(255, 73, 23, 0.5);
    border-right: 200px solid transparent;
    z-index: 3;
}

.triangle-bottomleft {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-top: 350px solid rgba(255, 73, 23, 0.5);
    border-right: 235px solid transparent;
    z-index: 2;
}

.banner-button {
    position: absolute;
    top: 315px;
    left: 225px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    width: 315px;
    z-index: 5;
}

.banner-button-left {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    position: relative;
    width: 165px;
    color: white;
    background-color: #FF4917;
    border-radius: 34px;
    z-index: 0;
}

.banner-button-left:hover {
    color: white;
}

.inner-box-left {
    position: absolute;
    top: 0;
    height: 100%;
    width: 65px;
    background-color: #162029;
    border-radius: 34px;
    z-index: 1;
}

.banner-button-left p {
    margin-block-start: 0em;
    margin-block-end: 0em;
    z-index: 2;
    margin-right: 10px;
    font-weight: 500;
}

.banner-button-right {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    position: relative;
    width: 135px;
    color: black;
    background-color: white;
    border-radius: 34px;
    z-index: 0;
}

.banner-button-right:hover {
    color: black;
}

.inner-box-right {
    position: absolute;
    top: 0;
    height: 100%;
    width: 65px;
    background-color: #FF4917;
    border-radius: 34px;
    z-index: 1;
}

.banner-button-right p {
    margin-block-start: 0em;
    margin-block-end: 0em;
    z-index: 2;
    margin-right: 10px;
    font-weight: 500;
}

/* ================================ */
/* ========= For about us ========= */

.about-us-assest {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about-us-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-top: 10%;
    padding-bottom: 10%;
}

.about-us-images {
    height: 90%;
    width: 90%;
    transition: transform .2s;
}

.about-us-images:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.about-us-headline {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    color: #FF4917;
}

.dot-line {
    width: 25px;
    border: solid 1px #FF4917;
    margin-right: 15px;
}

.about-us-content ul {
    list-style: none;
}

.about-us-content ul li::before {
    content: "\2022";
    color: #FF4917;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -2em;
}

.about-us-button {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    position: relative;
    height: 40px;
    width: 175px;
    color: white;
    background-color: #FF4917;
    border-radius: 34px;
    z-index: 0;
}

.about-us-button:hover {
    color: white;
}

.inner-box-about-us {
    position: absolute;
    top: 0;
    height: 100%;
    width: 75px;
    background-color: #162029;
    border-radius: 34px;
    z-index: 1;
}

.about-us-button p {
    margin-block-start: 0em;
    margin-block-end: 0em;
    z-index: 2;
    margin-right: 15px;
}

/* ================================ */
/* ===== For customer service ===== */

.customer-service {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.customer-service-triangle-topleft {
    position: absolute;
    top: 990px;
    left: 0;
    width: 0;
    height: 0;
    border-top: 200px solid #FF4917;
    border-right: 165px solid transparent;
    z-index: 4;
}

.customer-service-triangle-middleleft {
    position: absolute;
    top: 990px;
    left: 0;
    width: 0;
    height: 0;
    border-top: 250px solid rgba(255, 73, 23, 0.5);
    border-right: 205px solid transparent;
    z-index: 3;
}

.customer-service-vector-image {
    position: absolute;
    top: 1035px;
    right: 115px;
    height: 400px;
}

.star-top-image {
    position: absolute;
    top: 1050px;
    right: 115px;
}

.star-bottom-image {
    position: absolute;
    top: 1250px;
    right: 50px;
}

.customer-service .row {
    margin-top: 25px;
}

.customer-service-headline {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #FF4917;
}

.customer-service-dot-line {
    width: 25px;
    border: solid 1px #FF4917;
    margin-left: 15px;
    margin-right: 15px;
}

.service-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.customer-service-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 200px;
}

.customer-service-box:hover {
    border-bottom: solid 5px #FF4917;
    cursor: pointer;
}

.customer-service-box p {
    font-size: small;
}

/* ================================ */
/* ====== For video section ======= */

.video {
    position: relative;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#myVideo {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.caption {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 10px;
    height: 100%;
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    z-index: 1;
}

.caption-content-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 10%;
    height: 100%;
}

.video-dot {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    color: white;
}

.video-dot .dot {
    margin-right: 15px;
    width: 50px;
    border: solid white 1px;
}

.caption-content-left p {
    font-size: small;
    line-height: 1;
}

.video-content-button {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    position: relative;
    height: 40px;
    width: 150px;
    color: white;
    background-color: #FF4917;
    border-radius: 34px;
    z-index: 0;
}

.video-content-button:hover {
    color: white;
}

.inner-box-video-content {
    position: absolute;
    top: 0;
    height: 100%;
    width: 75px;
    background-color: #162029;
    border-radius: 34px;
    z-index: 1;
}

.video-content-button p {
    margin-block-start: 0em;
    margin-block-end: 0.5em;
    z-index: 2;
    margin-right: 15px;
}

.caption-content-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.caption-content-right button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 95px;
    width: 95px;
    border-radius: 50%;
    border: white 1px;
    border-style: double;
}

.video_button {
    position: absolute;
    height: 30px;
    width: 30px;
}

/* ================================ */
/* ===== For Business section ===== */

.business-section-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.business-headline {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 5%;
    color: #FF4917;
}

.business-section-bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 5%;
    padding-bottom: 5%;
}

.business-service {
    height: 250px;
    width: 200px;
}

.card {
    position: relative;
    border-radius: 0%;
}

.card-triangle-bottomleft-top {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    border-bottom: 125px solid #FF4917;
    border-right: 199px solid transparent;
    z-index: 2;
}

.card-triangle {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 150px;
    width: 199px;
    z-index: 1;
}

.card-img-overlay {
    position: absolute;
    top: 150px;
    z-index: 3;
}

.card-arrow {
    height: 10px;
    width: 20px;
}

.card-text {
    margin-block-start: 0em;
    margin-block-end: 0em;
    font-size: 12px;
}

.card-small-text {
    font-size: x-small;
}

/* ================================ */
/* ==== For what we do section ==== */

.what-we-do-row {
    background-color: #162029;
}

.h-750 {
    height: 750px;
}

.what-we-do-assest {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.what-we-do-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-top: 10%;
    padding-bottom: 10%;
    color: white;
}

.what-we-do-images {
    height: 75%;
    width: 75%;
    transition: transform .2s;
}

.what-we-do-images:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.what-we-do-button {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    position: relative;
    height: 40px;
    width: 150px;
    color: white;
    background-color: #FF4917;
    border-radius: 34px;
    z-index: 0;
}

.what-we-do-button:hover {
    color: white;
}

.inner-box-what-we-do {
    position: absolute;
    top: 0;
    height: 100%;
    width: 75px;
    background-color: #162029;
    border-radius: 34px;
    z-index: 1;
}

.what-we-do-button p {
    margin-block-start: 0em;
    margin-block-end: 0em;
    z-index: 2;
    margin-right: 15px;
}

.h-250 {
    height: 250px;
}

.count {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: 100%;
}

.count-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 150px;
    width: 100px;
    transition: transform .2s;
}

.count-card:hover {
    transform: scale(1.1);
    cursor: pointer;
}

/* ================================ */
/* ======= For team section ======= */

.card-triangle-topleft-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-top: 60px solid #FF4917;
    border-right: 60px solid transparent;
    z-index: 2;
}

.card-triangle-topleft {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-top: 70px solid rgba(255, 73, 23, 0.6);
    border-right: 70px solid transparent;
    z-index: 1;
}

.card-triangle-bottomright {
    position: absolute;
    bottom: -10px;
    right: -10px;
    width: 0;
    height: 0;
    border-bottom: 100px solid rgba(255, 73, 23, 0.6);
    border-left: 100px solid transparent;
    z-index: -1;
}

.team .card .card-img-overlay {
    position: absolute;
    top: -10px;
    left: -10px;
    z-index: 3;
}

.card-facebook {
    height: 20px;
    width: 10px;
}

.team .business-service {
    cursor: pointer;
}

.team-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 10%;
}

/* ================================ */
/* ====== For skills section ====== */

.skills-button {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    position: relative;
    height: 40px;
    width: 140px;
    color: white;
    background-color: #FF4917;
    border-radius: 34px;
    z-index: 0;
}

.skills-button:hover {
    color: white;
}

.inner-box-skills {
    position: absolute;
    top: 0;
    height: 100%;
    width: 75px;
    background-color: #162029;
    border-radius: 34px;
    z-index: 1;
}

.skills-button p {
    margin-block-start: 0em;
    margin-block-end: 0em;
    z-index: 2;
    margin-right: 15px;
}

.skills-images {
    height: 65%;
    width: 65%;
    transition: transform .2s;
}

.skills-images:hover {
    transform: scale(1.1);
    cursor: pointer;
}

/* ================================ */
/* ====== For advisor section ===== */

.advisors-images {
    height: 90%;
    width: 90%;
}

.advisors-images:hover {
    cursor: pointer;
}

/* ================================ */
/* ======= For logo section ======= */

.logo-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 200px;
}

.logo-menu button {
    height: 50px;
    width: 100px;
    background-color: #E8E8E8;
    color: black;
    border-radius: 6px;
    border: none;
}

.logo-menu button:hover {
    background-color: #FF4917;
    color: white;
}

/* ================================ */
/* ====== For article section ===== */

.article-button {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding-top: 10%;
    padding-bottom: 10%;
}

.article-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 15px;
    margin-bottom: 15px;
}

.card:hover {
    border-bottom: solid #FF4917 5px;
}

.btn:hover {
    color: #FF4917;
}

/* ================================ */